html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.map {
    width: 100%;
    height: 100%;
}

.maplibregl-popup {
    all: unset;
    position: absolute;
    min-width: 550px;
}

.maplibregl-popup-content {
    padding: 25px !important;
}

.maplibregl-map {
    font: unset !important;
    font-size: unset !important;
}

.maplibregl-marker {
    cursor: pointer;
}

.back-to-start {
    position: absolute;
    right: 0;
    z-index: 2;
    width: 250px;
}

.back-to-start:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.mobile-warning {
    max-width: 42em;
}

.fly-you-fools {
    position: fixed;
    bottom: 0;
    right: 0;
    rotate: -35deg;
    width: 400px;
    animation: pulse 1s infinite;
}

.you-dwarf {
    position: fixed;
    bottom: 0;
    right: 0;
    rotate: -35deg;
    width: 200px;
    animation: pulse 1s infinite;
}

@media (orientation: landscape) {
    .you-dwarf {
        width: 40vh;
    }
}

@media (orientation: portrait) {
    .you-dwarf {
        width: 60vw;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}